.game-container{
  display: flex;
  justify-content: space-between;
}

.game {
  &__task {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90rem;
    height: 40rem;
  }

  &__keyboard {
    width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem

  }
}

.game-result {
  width: 70rem;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__points {
    font-weight: 700;
  }
}

.task {
  &__button {
    height: 25rem;
    width: 50rem;
  }

  &__result {
    &--error {
      color: var(--red);
    }
    &--success {
      color: var(--green)
    }
  }
}

.key {
  flex-basis: 25rem;
  height: 25rem;
  line-height: 25rem;
}
