.map {
    margin: 0 auto;
    width: 350px;
    height: 350px;


    &__row {
        display: flex;
        gap: 5rem;
        margin: 5rem 0;

        &--1 {
            justify-content: center;
        }

        &--2 {
            justify-content: space-evenly;
        }

        &--3 {
            justify-content: center;
        }
    }

    &__button {
        height: 30rem;
        width: 50rem;
        text-align: center;
        line-height: 30rem;
    }
}